doctype html
html(lang="en")
  head
    title Gift Card Offer Comment Is Removed
body
  #container
    p Hi,
    p We removed a comment you made on our website. Please refer to the terms and conditions on foundershare.com. If you have inquiries on this action, you can email the address found on our terms and conditions page. Please include the comment details listed below in your inquiry.
    p - The FounderShare Team
      br
      br
      | The following gift card offer comment has been removed:
      br
      | Timestamp: #{timestamp}
      br
      | Comment: #{comment}