doctype html
html(lang="en")
  head
    title Gift Card Offer Is Removed
body
  #container
    p Hi,
    p We removed your gift card offer you posted on our website. Please refer to the terms and conditions on foundershare.com. If you have inquiries on this action, you can email the address found on our terms and conditions page. Please include the gift card offer details listed below in your inquiry.
    p - The FounderShare Team
      br
      br
      br
      | The following gift card offer has been removed:
      br
      | Business Name: #{businessName}
      br
      | Created On: #{createdOn}
      br
      | Offer Description: #{description}

