doctype html
html(lang="en")
  head
    title Verify user email
body
  #container
    p Hi,
    p Please click the link to verify your email: <a href="#{prefix}/#/VerifyEmail/#{token}">#{prefix}/#/VerifyEmail/#{token}</a>
